.Negrito{
    font-weight: bold;}
    
    
    #textoPrincipal{
        font-size: 40px;
        font-weight: bold;
        color: white;
        background-color: paleturquoise;
        padding: 10px;
        margin-bottom: 50px;

    }